@import "tailwindcss";

@theme {
  --color-backG: #0a0a0a;
  --color-ECA: #48494a;
  --color-ECB: #262627;
  --color-EBGC: #1d1d1d;
}

@layer utilities {
  .selectedNav {
    box-shadow: 5px 0px 10px -5px inset #a8a8a8;
    padding: 4px;
    border-radius: 4px;
    background-color: #48494a;
  }
}

@layer components {
  .cardGD {
    @apply bg-radial-[at_25%_25%] from-ECA to-ECB;
  }
  .textGD {
    @apply text-transparent bg-[linear-gradient(135deg,white_20%,#999_60%,white_75%)] bg-clip-text;
  }
  .h5 {
    @apply text-[20px] lg:text-2xl font-medium;
  }
  .h3 {
    @apply text-lg sm:text-xl lg:text-2xl font-medium;
  }
  .subHead {
    @apply font-light lg:text-lg xl:text-xl opacity-60;
  }
  .cardHover {
    @apply hover:scale-105 transition-all duration-500 hover:shadow-md hover:shadow-[#252525];
  }
}
